.tempus-ui__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}
