.common-ui__menuButton__wrapper {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 19px;
  -webkit-tap-highlight-color: transparent;

  @media screen and (max-width: 1024px) {
    &.common-ui__menuButton__checked {
      top: 38px;
      right: 32px;
      position: fixed;
    }
  }

  @media screen and (max-width: 768px) {
    &.common-ui__menuButton__checked {
      top: 22px;
      right: 32px;
      position: fixed;
    }
  }

  &:hover {
    .nw__menuButton-light,
    .nw__menuButton-light::before,
    .nw__menuButton-light::after {
      background-color: var(--headerMenuButtonColor);
    }
  }

  &:hover {
    .nw__menuButton-dark,
    .nw__menuButton-dark::before,
    .nw__menuButton-dark::after {
      background-color: var(--headerMenuButtonColor);
    }
  }
}

.common-ui__menuButton {
  position: absolute;
  top: 8px;
}

.common-ui__menuButton__light {
  background-color: var(--headerMenuButtonColor);

  &::before,
  &::after {
    background-color: var(--headerMenuButtonColor);
  }
}

.common-ui__menuButton__label {
  border-radius: 2px;
  width: 24px;
  height: 3px;

  position: absolute;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    width: 24px;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    display: block;
    color: var(--headerMenuButtonColor);
    transition: top 0.3s, bottom 0.3s, left 0.3s, transform 0.3s, color 0.3s;
  }

  &::before {
    top: -250%;
    left: 0%;
    transform: rotateZ(0deg);
    transform-origin: left top;
  }

  &::after {
    bottom: -250%;
    left: 0%;
    transform: rotateZ(0deg);
    transform-origin: left bottom;
  }
}

#common-ui-header-menu-button {
  display: none;
  pointer-events: none;

  &:checked {
    &:hover {
      & ~ label::before,
      & ~ label::after {
        // Since x lines are overlapping, they create a patch of less transparent color on their intersection.
        // Resulting color is background + rgba(#050a4a, 0.6)
        background-color: var(--headerMenuButtonColor);
      }
    }

    & ~ label::before {
      content: '';
      background-color: var(--headerMenuButtonColor);
      transform: rotateZ(41deg);
      left: 10%;
    }

    & ~ label::after {
      content: '';
      background-color: var(--headerMenuButtonColor);
      transform: rotateZ(-41deg);
      left: 10%;
    }

    & ~ label {
      background-color: transparent;
    }
  }
}
